<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ORGANON</h1>
            <hr>
            <p>Logic, Science & Analytics meets to serve Business</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
