<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kick off your experiment in the innovation Data Lab</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">usb</i>
                    <h3>Connect Data</h3>
                    <p class="text-muted">Define, find, and connect your sources, measures, observations, records of any kind.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Strategy planning</h3>
                    <p class="text-muted">Plan the analytics tasks and manage their connections according your strategy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Analysis execution</h3>
                    <p class="text-muted">Run data science cycles to extract the relevant information and build models</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Deploy</h3>
                    <p class="text-muted">Put information and models to work in your business.</p>
                </div>
            </div>
        </div>
    </div>
</section>
